{% extends "base.html" %}

{% block title %}{{ this.title }}{% endblock %}

{% block body %}
    {{ this.body }}
    <!-- post list section -->
    <section id="wiki" class="pv4 f5 f4-ns">
        <div class="ph2 pb4 w-90 margin-auto">
            {% for post in this.children %}
                <h3>
                    <a class="txt-link" href="{{ post | url }}">{{ post.title }}</a>
                </h3>
                <p class="i f6" >Started {{ post.pub_date | dateformat('full') }}</p>

                <hr class="ba b--light-silver">
            {% endfor %}
        </div>
    </section>
{% endblock %}

